<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Ab's Flicks, <%= @ticket.full_name %></h1>
    <p>
      You have successfully bought a ticket to <%= @movie.title %>
      for the  <%= @movie.showtime %> showing.<br>
    </p>
    <p>See you soon!</p>
  </body>
</html>
