<h1>Ticket</h1>

<%= form_tag '/tickets', method: :post do %>
  <div>
    Name: <input type="text" name="full_name">
  </div>
    <div>
    Email: <input type="text" name="email">
  </div>
    <div>
    Credit Card Number: <input type="text" name="credit card number">
  </div>    <div>
    Expiration Date: <input type="text" name="expiration date">
  </div>
  <input type="hidden" name="showtime_id" value="<%= @showtime.id %>">
    <div>
      <input type="submit" value="Buy Ticket">
  </div>
<% end %>
